
.center{
    text-align: center;
}
.green{
    color: green;
}
.red{
    color: red;
}
.TodoRow{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    border: 2px solid brown;       
    margin: 5px 20px;
}
button{
    cursor: pointer;
}